<html>
  <head>    
	<style type="text/css">
		.emo{
			font-family:Monospace;
			font-size:2em;
			height:50px;
			width:50px;
			float:left;
			text-align: center;
			display: table-cell; 
			vertical-align: middle;
		}
		.emo:hover{
			background:#F0F0F0;
		}
		
	</style>
  </head>
  <body>    
       <%= @emos %>
  </body>
</html>
